<!-- https://alvarotrigo.com/blog/website-footers/ -->
<footer>
    <div class="footer">
        <div class="row">
            <a href="https://github.com/Leon7120/Nodejs-Project"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-docker"></i></a>
            <a href="https://nodejs.org/en"><i class="fa-brands fa-node"></i></a>
        </div>
        <div class="row">
            Leon Copyright © 2023 Leon - Mini Project || Portfolio
        </div>
    </div>
</footer>
</body>
<script src="/javascripts/index.js"></script>

</html>