<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="header">
            <div class="row">
                <a href="/v1"><i class="fa-solid fa-house"></i>Home</a>
                <a href="/v1/home"><i class="fa-solid fa-shop"></i>Category</a>
                <a href="#"><i class="fa-solid fa-arrow-down"></i>About</a>
            </div>
        </div>
    </header>

