<%- include ('./header.ejs')%>
  <% if (message.length> 0) { %>
    <div class="alert alert-warning" role="alert""><%= message %></div>
<% } %>
  <div class=" content">
      <!-- sidebar -->
      <nav class="sidebar">
        <div class="sidebar_content">
          <div class="upper_items">
            <div class="sidebar_title">Dashboard</div>
            <ul class="sidebar_items">
              <li class="item">
                <button class="span-button"><span class="span_item">Admin</span></button>
                <!-- <i class="bx bx-chevron-right arrow-left"></i> -->
                <ul class="sidebar_items submenu">
                  <a href="#" class="sublink">Nav Sub Link</a>
                  <a href="#" class="sublink">Nav Sub Link</a>
                  <a href="#" class="sublink">Nav Sub Link</a>
                  <a href="#" class="sublink">Nav Sub Link</a>
                </ul>
              </li>
            </ul>
            <div class="sidebar_title">Actions</div>
            <ul class="sidebar_items">
              <li class="item">
                <button class="span-button"><span class="span_item">Get</span></button>
              </li>
              <li class="item">
                <button class="span-button"><span class="span_item">Create</span></button>
              </li>
              <li class="item">
                <button class="span-button"><span class="span_item">Update</span></button>
              </li>
              <li class="item">
                <button class="span-button"><span class="span_item">Delete</span></button>
              </li>
            </ul>
            <div class="sidebar_title">Shopping</div>
            <ul class="sidebar_items">
              <li class="item">
                <button class="span-button"><span class="span_item">Cart</span></button>
              </li>
              <li class="item">
                <button class="span-button"><span class="span_item">Order</span></button>
              </li>
              <li class="item">
                <button class="span-button"><span class="span_item">Payment</span></button>
              </li>
              <li class="item">
              </li>
            </ul>
          </div>
          <div class="bottom_items">
            <div class="bottom">
              <button class="span-button" id="logout-button">
                <span class="span_item"><i class="fa-solid fa-right-from-bracket"></i>Logout
                </span>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <div class="center">
        <div class="form-content">
          <p class="message home-message" id="home-message"></p>
          <div class="actions-form" id="search-pizza-div">
            <div class="actions-title">
              <span id="span-title">Search</span>
            </div>
            <div class="actions-contents">
              <div class="actions-input">
                <input type="text" id="get-id" name="get-id" autocomplete="off">
                <label for="get-id">Pizza Id</label>
              </div>
              <div class="actions-input">
                <input type="text" id="category-input" name="get-category" autocomplete="off">
                <label for="get-category">Category</label>
              </div>
              <div class="actions-input">
                <input type="text" id="price-input" name="get-price" autocomplete="off">
                <label for="get-price">Price</label>
              </div>
              <button class="actions-button" id="actions-button">Get</button>
            </div>
          </div>
          <div class="actions-form" id="create-pizza-div">
            <div class="actions-title">
              <span>Create</span>
            </div>
            <div class="actions-contents">
              <form class="create-form" id="create-form" autocomplete="off">
                <div class="actions-input">
                  <input type="text" id="create-id" name="id" required>
                  <label for="create-id">Pizza Id*</label>
                </div>
                <div class="actions-input">
                  <input type="text" id="create-category" name="category" required>
                  <label for="create-category">Category*</label>
                </div>
                <div class="actions-input">
                  <input type="text" id="create-price" name="price" required>
                  <label for="create-price">Price*</label>
                </div>
                <button class="actions-button" button="submit" id="create-button">Create</button>
              </form>
            </div>
          </div>

          <div class="actions-form" id="update-pizza-div">
            <div class="actions-title">
              <span>Update</span>
            </div>
            <div class="actions-contents">
              <form class="update-form" id="update-form" autocomplete="off">
                <div class="actions-input">
                  <input type="text" id="update-id" name="update-id" required>
                  <label for="update-id">Pizza Id*</label>
                </div>
                <div class="actions-input">
                  <input type="text" id="update-category" name="update-category">
                  <label for="update-category">Category</label>
                </div>
                <div class="actions-input">
                  <input type="text" id="update-price" name="update-price">
                  <label for="update-price">Price</label>
                </div>
                <button class="actions-button" button="submit" id="update-button">Update</button>
              </form>
            </div>
          </div>

          <div class="actions-form" id="delete-pizza-div">
            <div class="actions-title">
              <span>Delete</span>
            </div>
            <div class="actions-contents">
              <form class="delete-form" id="delete-form" autocomplete="off">
                <div class="actions-input">
                  <input type="text" id="delete-id" name="delete-id" required>
                  <label for="delete-id">Pizza Id*</label>
                </div>
                <button class="actions-button" button="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
        <table class="table" id="table" autocomplete='off'>
          <tbody id="table-data">
          </tbody>
        </table>


      </div>
    </div>

    <%- include ('./footer.ejs')%>