<%- include ('./header.ejs')%>

  <!-- <form action="http://localhost:3000/v1/logout" method="post"><button>Logout</button></form>
            <div>
                <div><a href="/v1/pizza">Get All Pizza</a></div>
                <div><a href="">Get One Pizza</a></div>
                <div><a href="">Update</a></div>
                <div><a href="">Delete</a></div>
            </div> -->

  <!-- sidebar -->
  <div class="content">
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title">Dashboard</div>
          <!-- start -->
          <li class="item">
            <span class="span_item">Admin</span>
            <i class="bx bx-chevron-right arrow-left"></i>
            <ul class="menu_items submenu">
              <a href="#" class="sublink">Nav Sub Link</a>
              <a href="#" class="sublink">Nav Sub Link</a>
              <a href="#" class="sublink">Nav Sub Link</a>
              <a href="#" class="sublink">Nav Sub Link</a>
            </ul>
          </li>
        </ul>
        <!-- end -->
        <ul class="menu_items">
          <div class="menu_title">Actions</div>
          <li class="item">
            <span class="span_item">Get</span>
          </li>
          <li class="item">
            <span class="span_item">Create</span>
          </li>
          <li class="item">
            <span class="span_item">Update</span>
          </li>
          <li class="item">
            <span class="span_item">Delete</span>
          </li>
        </ul>
        <!-- Sidebar Open / Close -->
        <div class="bottom_items">
          <div class="bottom">
            <button action="/v1/logout" method="POST" class="logout-button" id="logout-button">
              <span class="span_item"> <i class="fa-solid fa-right-from-bracket"></i>Logout</span>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="actions-form" id="search-pizza-div">
      <div class="message" id="message"></div>

      <div class="actions-title">
        <span>Search</span>
      </div>
      <div class="actions-contents">
        <div class="actions-input">
          <input type="text" id="get-id" name="get-id" autocomplete="off">
          <label for="get-id">Pizza Id</label>
        </div>
        <div class="actions-input">
          <input type="text" id="get-category" name="get-category" autocomplete="off">
          <label for="get-category">Category</label>
        </div>
        <div class="actions-input">
          <input type="text" id="get-price" name="get-price" autocomplete="off">
          <label for="get-price">Price</label>
        </div>
        <button class="actions-button" id="get-button">Get</button>
      </div>
      <table class="table" id="table">
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </table>
    </div>
    <div class="actions-form" name="create-pizza">
      <div class="actions-title">
        <span>Create Pizza</span>
      </div>
      <div class="create-div">
        <form class="create-form">
          <div class="actions-input">
            <input type="text" id="create-id" name="create-id">
            <label for="create-id">Pizza Id</label>
          </div>
          <div class="actions-input">
            <input type="text" id="create-category" name="create-category">
            <label for="create-category">Category</label>
          </div>
          <div class="actions-input">
            <input type="text" id="create-price" name="create-price">
            <label for="create-price">Price</label>
          </div>
          <button class="actions-button" button="submit" id="create-button">Create</button>
        </form>
      </div>
    </div>
   <!-- <div class="actions-form">
      <div class="actions-title">
        <span>Update Pizza</span>
      </div>
      <div class="update-div">
        <form class="update-form">
          <div class="actions-input">
            <input type="text" id="update-id" name="update-id">
            <label for="update-id">Pizza Id</label>
          </div>
          <div class="actions-input">
            <input type="text" id="update-category" name="update-category">
            <label for="update-category">Category</label>
          </div>
          <div class="actions-input">
            <input type="text" id="update-price" name="update-price">
            <label for="update-price">Price</label>
          </div>
          <button class="actions-button" button="submit" id="update-button">Update</button>
        </form>
      </div>
    </div>
    <div class="actions-form">
      <div class="actions-title">
        <span>Delete Pizza</span>
      </div>
      <div class="delete-div">
        <form class="delete-form">
          <div class="actions-input">
            <input type="text" id="update-id" name="delete-id">
            <label for="delete-id">Pizza Id</label>
          </div>
          <button class="actions-button" button="submit" id="delete-button">Delete</button>
        </form>
      </div>
    </div> -->

  </div>
  <%- include ('./footer.ejs')%>