<%- include ('./header.ejs')%>
    <div class="login-form">
        <form method="post" action="http://localhost:3000/v1/login" id="form">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" required placeholder="User ID">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" type="password" required placeholder="Password">
            </p>
            <p>
                <input type="submit" value="login">
            </p>

        </form>
    </div>
    <a href="/v1/register"><b>Register</b></a>

    <%- include ('./footer.ejs')%>