<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

</head>

<body>
  <% if (messages.length> 0) { %>
    <div class="flash-messages">
        <% messages.forEach(message=> { %>
            <div class="flash-message">
                <%= message %>
            </div>
            <% }); %>
    </div>
    <% } %>
    
  <form method="post" action="http://localhost:3000/v1/login" id="form">
    <label>Username</label>
    <input type="text" name="username" required placeholder="User ID">
    <label>Password</label>
    <input type="password" name="password" type="password" required placeholder="Password">
    <input type="submit" value="login">
  </form>

  <a href="/v1/register">
    <button><b>Register</b></button>
  </a>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</body>

</html>