<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>

  <form method="post" action="/v1/register" id="form">
    <label>Username</label>
    <input type="text" name="username" required placeholder="User ID">
    <label>Password</label>
    <input type="password" name="password" type="password" required placeholder="Password">
    <input type="submit" value="register">
  </form>
  <p>Password Requirement : At Least One Uppercase, At Least One Lowercase, At Least One Symbol, At Least One Numeric
  </p>
  <a href="/v1">
    <button><b>Login</b></button>
  </a>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</body>

</html>