body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
}
@media screen and (min-width: 1200px) {
  body {
  font-size: 1em;
  }
}
i {
  margin:5px;
}
.header {
  background: #000;
  text-align: center;

}
.row {
  width: 100%;
  color: gray;
  padding : 5px 0px;
  display: block;
}

.header .row a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  width:auto;
  text-transform: capitalize;
  margin: 0px 15px;
}

.header .row a:hover {
  color: #fff;
}

.header .row a i {
  font-size: 1.2em;
}

footer {
  background: #000;
  padding: 15px 0px;
  text-align: center;
}

.footer .row {
  width: 100%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/* @media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
} */

/* Login Content styling */
.message {
  position: relative;
  text-align: center;
  color: #ef5050;
  margin: auto;
  top: 15px;
}

.message:empty {
  display: none;
}

#sign-up-form {
  display: none;
}
.content {
  flex: 1;
  display: flex;
}
.login-div {
  margin: 50px auto;
}

.sign-in-sign-up-button-div {
  margin: auto;
}

.sign-in-up-button {
  height: 40px;
  width: 49%;
  border-color: #1161ed;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
  background-color: #fff;
}

.sign-in-up-button:hover {
  background: #4c7ad5;
  box-shadow: 5px;
  cursor: pointer;
  color: white;
}

.sign-in-up-button:focus {
  background-color: #1161ed;
  color: white;
}

.sign-in-up-button:active {
  outline: none;
}

.login-form {
  letter-spacing: 1px;
  position: relative;
  padding: 20px;
}

.form-input {
  position: relative;
  margin: 20px 0px;
}

.form-input input {
  width: 80%;
  height: 30px;
  padding: 0px 10px;
  letter-spacing: inherit;
}

.form-input input:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.form-input p {
  color: #ef5050;

}

.form-button {
  background-color: #1161ed;
  color: #FFF;
  height: 40px;
  width: 100%;
  display: block;
  margin: 30px 0px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: inherit;
  transition: all 0.5s ease-in-out;
}

.form-button:hover {
  background: #4082f5;
  box-shadow: 0px 4px 30px -5px #4082f5;
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}

/* sidebar */
.sidebar {
  position: relative;
  padding:20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
  background-color: #b7ddf4;
}


.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar_content {
  position: relative;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.sidebar_title {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: dotted black;
  cursor: default;
  text-align: center;
}

.sidebar_items {
  padding: 0;
  list-style: none;
}

.item {
  white-space: nowrap;
  text-align: center;
  margin: 15px;
}
.span-button {
  background: none;
  border: none;
  padding: 0;
  letter-spacing: inherit;
  font-size: 0.8em;
}
.span_item {
  cursor: pointer;
  transition: all 0.5s ease-in;
  padding: 10px 35px;
}

.span_item:hover {
  background-color: #335c76;
  color: white;
  font-size: 1.5em;

}

.submenu {
  display: none;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.upper_items {
  flex:1;
}
.bottom_items {
  width: 100%;
  text-align: center;
  font-size: 1.2em;

}

/* Home Content */
.center {
  position: relative;
  padding: 50px;
}


#search-pizza-div {
  display: block;
}

.form-content{
  position: relative;
}
.home-message {
  position: absolute;
  right: 50px;
}
.actions-form {
  margin: auto;
  border: #1161ed 1px solid;
  border-radius: 4px;
  padding: 30px;
  position: relative;
  display: none;
}
.actions-title {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 10px 10px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.actions-contents {
  margin-top: 40px;
  display : flex;
  flex-direction: row;
  padding:10px;
}
.actions-contents form {
  display : inherit;
  flex-direction: inherit;
}

.actions-input {
  width:200px;
}

.actions-input input {
  height: 30px;
  padding-left: 10px;
  letter-spacing: 2px;
}

.actions-button {
  background-color: #1161ed;
  color: #FFF;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  margin-left: 10px;
}

.actions-button:hover {
  background: #4082f5;
  box-shadow: 0px 4px 30px -5px #4082f5;
  cursor: pointer;
  
}
.table {
  text-align: center;
  font-size: 1.1em;
  margin: 15px;
  padding: 15px;
  border-collapse: collapse;
  position: relative;
}

.table td {
  border: 1px solid #000;
  padding: 10px 20px;
  min-width: 50px;
  text-transform: capitalize;
}
.table tr td[contenteditable="true"]{
  background-color: #ef5050;
  transition: all 0.5s ease-in-out;
  
}
.table tr td[contenteditable="true"]:hover{
  font-size: 1.3em;
  color: #fff;
}
.table tr td[contenteditable="true"]:focus{
  font-size: 1.2em;
  color: #fff;
  outline: none;
}
.table th {
  border: 1px solid #000;
  padding: 10px 20px;
  min-width: 50px;
  text-transform: capitalize;
  background: #4082f5;
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}

tr:hover {
  background-color: #ffc107;
}



@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}