body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login-form {
  margin: auto;
  padding: 15px;
  border-color: black;
  border-width: 1px;
  border-style: double;
  border-radius: 25% 10%;
  height:250px;


}

.login-form{
  
}

.header {
  background: #000;
  padding: 10px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.header .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.header .row a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  width: 24%;
}

.header .row a:hover {
  color: #fff;

}

.header .row a i {
  margin: 0% 1%;
  font-size: 2em;
}

footer {
  margin-top: auto;
}

.footer {
  background: #000;
  padding: 15px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}